<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hbs2-peer browser</title>
    <link rel="stylesheet" href="/css/pico.min.css">
    <link rel="stylesheet" href="/css/fontawesomeall.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>

<div class="container">
    <header class="container">
      <h1>hbs2-peer 0.24.1.0</h1>
    </header>

    <nav class="tabs" role="navigation">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <!-- <li><a href="#details">Детали</a></li> -->
            <!-- <li><a href="#stats">Статистика</a></li> -->
        </ul>
    </nav>

    <div class="container">

      <table>
        <tbody>
          <tr>
            <td colspan="2"><i class="fas fa-key"></i><span
                class="ref lab">5GnroAC8FXNRL8rcgJj6RTu9mt1AbuNd5MZVnDBcCKzb</span></td>
          </tr>
        </tbody>
      </table>

   </div>

    <footer class="container text-center">
        <p>© 2024 hbs2-peer. Все права защищены.</p>
    </footer>
</div>

</body>
</html>
