/* fastpok CSS start */

:root {
  --pico-form-element-spacing-vertical: .5rem;
  --pico-form-element-spacing-horizontal: .625rem;
}

[type=search] {
  --pico-border-radius: inherit;
}

[role=search] {
  --pico-border-radius: inherit;
}

[role=search]>:first-child {
  border-top-left-radius: var(--pico-border-radius);
  border-bottom-left-radius: var(--pico-border-radius);
}

[role=search]>:last-child {
  border-top-right-radius: var(--pico-border-radius);
  border-bottom-right-radius: var(--pico-border-radius);
}

body>footer, body>header, body>main {
  padding-block: 0;
}

header>nav {
  border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
}

.wrapper {
  display: flex;
}

.sidebar {
  width: 20rem;
  flex-shrink: 0;
  padding-top: var(--pico-block-spacing-vertical);
  padding-right: var(--pico-block-spacing-horizontal);
  padding-bottom: var(--pico-block-spacing-vertical);
  border-right: var(--pico-border-width) solid var(--pico-muted-border-color);
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: var(--pico-block-spacing-vertical);
  padding-bottom: var(--pico-block-spacing-vertical);
  padding-left: var(--pico-block-spacing-horizontal);
}

article {
  border: var(--pico-border-width) solid var(--pico-card-border-color);
  box-shadow: none;
}

.repo-list-item {
  display: flex;
  justify-content: space-between;
  gap: var(--pico-block-spacing-horizontal);
}

.repo-list-item-link-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: var(--pico-typography-spacing-vertical);
}

.copy-button {
  margin-left: calc(var(--pico-spacing) * .5);
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  color: var(--pico-secondary);
  transition: color var(--pico-transition);
}

.copy-button:hover {
  color: var(--pico-secondary-hover);
}

.copyable-text {
}

.copy-button .icon {
  width: 1.125rem;
  height: 1.125rem;
}

.inline-icon-wrapper {
  display: inline-block;
}

.inline-icon-wrapper .icon {
  margin-right: calc(var(--pico-spacing) * .25);
  vertical-align: middle;
}

.info-block {
  margin-bottom: var(--pico-block-spacing-vertical);
}

.mb-0 {
  margin-bottom: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.text-nowrap {
  text-wrap: nowrap;
}

.repo-menu {
  --pico-nav-breadcrumb-divider: '|';
}

.repo-menu li.active {
  color: var(--pico-primary);
}

aside li {
  padding: 0;
}

aside ul {
  padding: 0;
}

aside li :where(a,[role=link]):not(:hover) {
  text-decoration: none;
}

.sidebar-title {
  margin-bottom: calc(var(--pico-typography-spacing-vertical) * .25);
}

/* fastpok CSS end */


ul.misc-menu  {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul.misc-menu li {
  padding: 0 0 0 0;
  margin-right: 1em;
  display: inline;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}

.tree {
  font-weight: 600;
}

td.tree-locator {
  border-bottom: none;
}

td.tree-locator span {
  margin-right: .5rem;
}

tr.commit-brief-title td,
tr.commit-brief-title th {
  border-bottom: none;
  vertical-align: top;
}

tr.commit-brief-details td,
tr.commit-brief-details th {
  border-top: none;
}

td.commit-brief-title {
  text-align: left;
}

tr.commit-brief-last  td {
  border: none;
}

tr.commit-brief-last  th {
  border: none;
}

td.commit-icon {
  width: 4rem;
  /* width: px; */
}

td.commit-hash {
  width: 10rem;
  text-align: left;
}

table.minimal {
}

table.minimal tr td {
  border: none;
  padding: 0.15em;
}

table.minimal tr {
  border: none;
}

table tr:hover {
  background-color: #f1f1f1;
}

.lim-text {
  max-width: 80ch;
  word-wrap: break-word;
}


pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: auto; }
code.sourceCode > span { color: inherit; text-decoration: inherit; overflow: auto; }
div.sourceCode { margin: 1em 0; overflow: auto; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; max-width: 120rem; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
pre > code.sourceCode > span { display: inline-block; text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span
  { position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    color: #aaaaaa;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
@media screen {
pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span.al { color: #ef2929; } /* Alert */
code span.an { color: #8f5902; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #204a87; } /* Attribute */
code span.bn { color: #0000cf; } /* BaseN */
code span.cf { color: #204a87; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4e9a06; } /* Char */
code span.cn { color: #8f5902; } /* Constant */
code span.co { color: #8f5902; font-style: italic; } /* Comment */
code span.cv { color: #8f5902; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #8f5902; font-weight: bold; font-style: italic; } /* Documentation */
code span.dt { color: #204a87; } /* DataType */
code span.dv { color: #0000cf; } /* DecVal */
code span.er { color: #a40000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #0000cf; } /* Float */
code span.fu { color: #204a87; font-weight: bold; } /* Function */
code span.im { } /* Import */
code span.in { color: #8f5902; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #204a87; font-weight: bold; } /* Keyword */
code span.op { color: #ce5c00; font-weight: bold; } /* Operator */
code span.ot { color: #8f5902; } /* Other */
code span.pp { color: #8f5902; font-style: italic; } /* Preprocessor */
code span.sc { color: #ce5c00; font-weight: bold; } /* SpecialChar */
code span.ss { color: #4e9a06; } /* SpecialString */
code span.st { color: #4e9a06; } /* String */
code span.va { color: #000000; } /* Variable */
code span.vs { color: #4e9a06; } /* VerbatimString */
code span.wa { color: #8f5902; font-weight: bold; font-style: italic; } /* Warning */




